<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello World !</title>
  </head>
  <body>
    <h1>Hello World !</h1>
    <b>DevOps Exercices - Version {{version}}</b>

    <h3>Service Information</h3>
    <ul>
      <li>Machine IP address: <i>foo</i></li>
      <li>EC2 Machine IP address: <i>bar</i></li>
      <li>Current GitHub branch name: <i>blah</i></li>
    </ul>

    <p>Vue counter: {{counter}}</p>

    <h3>Service Health</h3>
    <p>Health: <i>OK</i></p>
    <footer>This service has been created using Flask.</footer>
  </body>
</html>
